<h4 class="header" [hidden]="totalsLoading">
  <span
    ><b>Week Ago:</b> {{ this.totalWeekAgo | currency : this.currency.code }},
  </span>
  <span
    ><b>Current:</b> {{ this.total | currency : this.currency.code }},
  </span>
  <span
    ><b>Delta:</b>
    {{ this.total - this.totalWeekAgo | currency : this.currency.code }}</span
  >
</h4>

<h4 class="header" [hidden]="!totalsLoading">
  <span><b>Loading...</b></span>
</h4>

<ng-template #filter>
  <app-money-type-selector
    [label]="'Available currencies'"
    [disabled]="this.loading"
    [currencies]="currencies"
    [currency]="currency"
    (currency$)="updateCurrency($event)"
  ></app-money-type-selector>
</ng-template>

<app-search
  [filterTemplate]="filter"
></app-search>
