
  <app-money-type-selector
    [label]="'Available currencies'"
    [disabled]="this.loading"
    [currencies]="currencies"
    [currency]="currency"
    (currency$)="updateCurrency($event)"
  ></app-money-type-selector>

  <div class="rubber totalsHeader" [hidden]="this.loading">
    {{ this.total | currency: this.currency.code }}
  </div>

  <div class="rubber totalsHeader" [hidden]="!(this.loading)">
    Loading...
  </div>

  <div echarts
       [options]="chart"
       (chartClick)="onChartEvent($event, 'chartClick')"
       [loading]="loading"
       class="accounts-chart"
       [style]="{
            height: (accountsBalances && accountsBalances.length > 5) ?
                      (accountsBalances.length * 20 + 'px') : '200px'
       }">
  </div>
