<div *ngIf="isLoggedIn">

  <h4 *ngIf="this.report" class="header" [hidden]="pageLoading">
    <span><b>Sold:</b> {{(this.report.sourceAmount ? this.report.sourceAmount : 0) | currency:this.sourceCurrency}}, </span>
    <span><b>Bought:</b> {{(this.report.destAmount ? this.report.destAmount : 0) | currency:this.destCurrency}}, </span>
    <span><b>Average:</b> {{(this.report.avgRate ? this.report.avgRate : 0) | number: '1.6-8'}} , </span>
    <span><b>Current:</b> {{this.report.curRate | number: '1.6-8'}} </span>
  </h4>

  <h4 *ngIf="this.report" class="header" [hidden]="!(pageLoading)">
    <span><b>Loading...</b></span>
  </h4>

  <div *ngIf="this.report">
    <mat-form-field appearance="fill">
      <mat-label>Available source currencies</mat-label>
      <mat-select [disabled]="loading" [value]="sourceCurrency" (valueChange)="updatesSourceCurrency($event)">
        <mat-option *ngFor="let currency of getSourceCurrencies() | keyvalue" [value]="currency.value">
          {{currency.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="swapCurrencies()">
      <mat-icon>swap_horiz</mat-icon>
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Available destination currencies</mat-label>
      <mat-select [disabled]="loading" [value]="destCurrency" (valueChange)="updatesDestCurrency($event)">
        <mat-option *ngFor="let currency of getDestCurrencies() | keyvalue" [value]="currency.value">
          {{currency.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="rubber timeHeader" *ngIf="this.report && this.report.delta">
      {{this.report.delta | currency: this.sourceCurrency}}
    </div>

  </div>

  <ng-template #exchangeTable let-entities="entities">

        <table mat-table [dataSource]="entities">

          <ng-container matColumnDef="exchangedate">
            <th mat-header-cell *matHeaderCellDef> Exchange Date </th>
            <td mat-cell *matCellDef="let element"> {{element.exchangeDate | date:'fullDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From </th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.source && element.sourceLink"
                 routerLink="{{element.sourceLink}}">
                {{element.source.name}}</a>

              <div *ngIf="element.source && !element.sourceLink">
                {{element.source.name}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To </th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.dest && element.destLink"
                 routerLink="{{element.destLink}}">
                {{element.dest.name}}</a>

              <div *ngIf="element.dest && !element.destLink">
                {{element.dest.name}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="sourceamount">
            <th mat-header-cell *matHeaderCellDef> Source Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.sourceamount | currency: sourceCurrency}} </td>
          </ng-container>

          <ng-container matColumnDef="destamount">
            <th mat-header-cell *matHeaderCellDef> Dest Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.destamount | currency: destCurrency}} </td>
          </ng-container>

          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef> Rate </th>
            <td mat-cell *matCellDef="let element"> {{element.rate | number: '1.6-8'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

  </ng-template>

  <app-entity-list [resultItemTemplate]="exchangeTable"
                   [table]="true"
                   [searchRequest]="{
                        queryArguments: getQueryArguments(),
                        queryName: 'events'
                    }"
                   [sort]="getSort()"
                   (loading$)="setLoading($event)"
  ></app-entity-list>

</div>
