@if (this.infoAbout) {
  <h4 class="header" [hidden]="statsLoading">
    <span>Recorded transactions' time span
    </span>
    <span
    ><b>starts:</b>
      {{ getStartDate() }}
    </span>
    <span
    ><b>, ends:</b>
      {{ getLastDate() }}
    </span>
  </h4>
}

<h4 class="header" [hidden]="!statsLoading">
  <span><b>Loading...</b></span>
</h4>

<div>

  <div class="d-flex align-items: center; margin: 32px; padding-left: 12px; border-left: 4px solid #0d6efd;">
    <div>
      <h3 style="margin: 20px 0 0 20px; font-size: 1.25rem; font-weight: 600; color: #212529; letter-spacing: -0.2px;">
        Expenses Groups Trends
      </h3>
      <small style="margin: 0 0 0 20px; color: #6c757d; font-size: 0.85rem;">
        Track how the expenses categories are distributed over months.
      </small>
    </div>
  </div>

  <div echarts [options]="chart" [loading]="loading" class="chart"></div>
  <div class="date-picker">

    <app-date-range-selector
      [loading]="loading"
      (startDate$)="updateStartDate($event)"
      (endDate$)="updateEndDate($event)"
    ></app-date-range-selector>

    <mat-checkbox
      class="filter"
      [(ngModel)]="showGroups"
      (change)="onFilterEvent($event.checked)"
    >
      Break down to groups
    </mat-checkbox>

  </div>
</div>
