.header
  width: 100%
  background: blueviolet
  color: white
  text-align: center
  #span
    width: 25%

.chart
  position: relative
  height: 70vh
  overflow: hidden

.date-picker
  text-align: center
