<div>
  <div>
    <app-money-type-selector
      [label]="'Available currencies'"
      [disabled]="loading"
      [currencies]="currencies"
      [currency]="currency"
      (currency$)="updateCurrency($event)"
    ></app-money-type-selector>

    <app-date-range-selector
      [loading]="loading"
      (startDate$)="updateStartDate($event)"
      (endDate$)="updateEndDate($event)"
    ></app-date-range-selector>

    <mat-checkbox
      class="filter"
      [(ngModel)]="showGroups"
      (change)="onFilterEvent($event.checked)"
    >
      Break down to groups
    </mat-checkbox>
  </div>

  <div echarts [options]="chart" [loading]="loading" class="chart"></div>
</div>
