.header
  width: 80%
  background: blueviolet
  color: white
  text-align: center
  #span
    width: 25%

.stats-grid
  display: grid
  grid-template-columns: repeat(3, 1fr) /* 3 equal columns */
  gap: 20px /* Uniform spacing between cards */
  padding: 20px
