<p></p>

@if (!isLoggedIn) {
  <h1>Welcome to Money Tracker Reports and Analysis Tool</h1>

  <p>
    This applications makes it easy to visualise your finantial data and analyse
    it. Use the menu on the left to navigate the report topics.
  </p>
}

@if (isLoggedIn) {
  <div class="stats-grid">
    <app-stats-totals-component title="Last Update" background="var(--lightgreen)" value="{{ getLastDate() }}" />
    <app-stats-totals-component title="Income Transactions" background="var(--green)" value="{{ infoAbout?.income }}" />
    <app-stats-totals-component title="Expenses Transactions" value="{{ infoAbout?.expenses }}" />
    <app-stats-totals-component title="Expenses with Tradeplaces" background="var(--violet)" value="{{ infoAbout?.expensesTradeplace }}" />
    <app-stats-totals-component title="Expenses without Tradeplaces" background="var(--coral)" value="{{ infoAbout?.expensesNoTradeplace }}" />
    <app-stats-totals-component title="Expenses without Commodities" background="var(--coral)" value="{{ infoAbout?.expensesNoCommodity }}" />
  </div>
}
