<!-- Toolbar -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <div style="padding: 20px"><img src="assets/clematis.png" alt=""></div>
    <mat-toolbar>{{title}}</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isLoggedIn">
        <a mat-list-item
           routerLinkActive="/main"
           routerLink="/main">Home</a>
        <a mat-list-item
           routerLinkActive="/accounts"
           routerLink="/accounts">Accounts</a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/commodities">Commodities</a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/commodityGroups">Commodities Groups</a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/lastCommodities">Last Commodities</a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/organizations">Organizations</a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/organizationGroups">Organizations Groups</a>
        <a mat-list-item
           routerLinkActive="active-link"
           routerLink="/expenses">Expenses</a>
      </div>
      <a mat-list-item
         routerLinkActive="/about"
         routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
      <span *ngIf="isHandset$ | async">{{title}}</span>
      <span class="header-spacer"></span>
      <span class="navbar-brand" style="font-size: 20px; padding-right: 15px"
            *ngIf="isLoggedIn">{{getUserInfo()}}</span>
      <span class="navbar-brand" style="border-left: 2px solid white; font-size: 20px;">
        <button mat-icon-button *ngIf="isLoggedIn" type="button" (click)="logout()">
          <mat-icon fontIcon="logout"></mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isLoggedIn" type="button" (click)="login()">
          <mat-icon fontIcon="login"></mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <app-workspace></app-workspace>
  </mat-sidenav-content>
</mat-sidenav-container>
