<!-- Toolbar -->
<div class="navbar navbar-expand-lg navbar-dark bg-light bg-brand">
  <img width="120" alt="Clematis Logo" src="../../assets/clematis.png" class="navbar-logo" />

  <a class="navbar-brand" href="#">{{title}}</a>

  <div *ngIf="isLoggedIn()">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mr-auto collapse navbar-collapse justify-content-end" [ngbCollapse]="isCollapsed" id="navbarContent">


      <ul ngbNav #nav="ngbNav"
          class="nav nav-pills float-right "
          [(activeId)]="currentRoute"
          style="border-left: 2px solid white; padding: 10px 10px 10px 30px">


        <li ngbNavItem="/commodities">
          <a ngbNavLink routerLink="/commodities">Commodities</a>
        </li>

        <li ngbNavItem="/commodityGroups">
          <a ngbNavLink routerLink="/commodityGroups">Commodities Groups</a>
        </li>

        <li ngbNavItem="/expenses">
          <a ngbNavLink routerLink="/expenses">Expenses</a>
        </li>

        <li ngbNavItem="/organizations">
          <a ngbNavLink routerLink="/organizations">Organizations</a>
        </li>


      </ul>


      <div class="my-2 my-lg-0 float-right">
      <span class="navbar-brand"   style="border-left: 2px solid white; font-size: 20px;">
        {{userInfo()}} <fa-icon class="logout-icon" (click)="logout()" [icon]="faLogout"></fa-icon>
      </span>

      </div>

    </div>
  </div>



</div>
