<div class="row" style="border-bottom: 1px darkgray solid; padding: 5px; ">
  <div class="col-sm-6">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{ balance.name}}</div>

    </div>

  </div>
  <div class="col-sm-5">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{ balance.balance }}</div>

    </div>

  </div>
  <div class="col-sm-1">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{ balance.code }}</div>

    </div>

  </div>
</div>

