@if (isLoading()) {
  <div class="loader">Looking for images...</div>
} @else if (hasError()) {

} @else {
  <div class="ribbon-container">
    <div class="ribbon-track">
      <div class="ribbon-group">
        @for (url of imageUrls(); track 'first-' + $index) {
          <img [src]="url" alt="Immich Ribbon Photo" />
        }
      </div>
      <div class="ribbon-group" aria-hidden="true">
        @for (url of imageUrls(); track 'second-' + $index) {
          <img [src]="url" alt="Immich Ribbon Photo Copy" />
        }
      </div>
    </div>
  </div>
}

