
  <div class='row'>
    <div class='col-6 back-area jumbotron'>
      <div>
        <h2 style='margin: 10px'></h2>
        <h2>
          {{entity ? entity.name : 'Not loaded'}}
        </h2>
        <h6>
          <a href="{{parentLink}}">{{parent?.name}}</a>
        </h6>
      </div>
      <div style='max-height: 350px; margin: 10px; overflow: auto'>
        {{entity ? entity.description : ''}}
      </div>
      <div>
        Total: {{totalSum}} RUB
      </div>

    </div>
    <div class='col-6'>
      <div *ngIf="childGroups.length > 0">
        <div *ngFor="let a of childGroups">
          <app-entity-element [entity]="a"></app-entity-element>
        </div>
      </div>

      <div *ngIf="childCommodities.length > 0">
        <div *ngFor="let a of childCommodities">
          <app-entity-element [entity]="a"></app-entity-element>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
        <ya-placemark [geometry]="[55.751952, 37.600739]"></ya-placemark>
      </ya-map>
    </div>
  </div>
