<div *ngIf="isLoggedIn">
  <mat-paginator [length]="total"
                 [pageSize]="limit"
                 [pageSizeOptions]="[12, 24, 36, 48, 120, 240]"
                 [pageIndex]="n"
                 (page)="setCurrentPage($event)"
                 aria-label="Select page">
  </mat-paginator>

  <div echarts [options]="waterfallRub" class="waterfall"></div>
  <div echarts [options]="waterfallUsd" class="waterfall"></div>
  <div echarts [options]="waterfallEur" class="waterfall"></div>

</div>
