<div class="row" style="border-bottom: 1px darkgray solid; padding: 5px; ">
  <div class="col-sm-3">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{ entity.transferDate | date: 'mediumDate'}}</div>

    </div>

  </div>
  <div class="col-sm-3">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{commodity.name}}</div>

    </div>

  </div>
  <div class="col-sm-3">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{entity.price}}</div>

    </div>

  </div>
  <div class="col-sm-3">

    <div style="padding-top: 5px; padding-bottom: 5px;">

      <div>{{entity.qty}}</div>

    </div>

  </div>
</div>
