<div *ngIf="isLoggedIn">
  <div>
    <app-money-type-selector
      [label]="'Available currencies'"
      [disabled]="this.loading"
      [currencies]="currencies"
      [currency]="currency"
      (currency$)="updateCurrency($event)"
    ></app-money-type-selector>

    <app-date-range-selector
      [loading]="loading"
      (startDate$)="updateStartDate($event)"
      (endDate$)="updateEndDate($event)"
    ></app-date-range-selector>
  </div>

  <div echarts [options]="chart" class="income-chart" [loading]="loading"></div>
</div>
