<app-breadcrumbs *ngIf="entity" [path]="path"></app-breadcrumbs>
<div *ngIf="entity">
  <div class='jumbotron'>
    <div>
      <h2 style='margin: 10px'></h2>
      <h2>
        {{entity ? entity.name : 'Not loaded'}}
      </h2>
    </div>
    <div>
      Default Price: {{defaultPrice}} {{defaultMoneyType?.code}} / {{defaultUnit}}
    </div>
    <div>
      Average Price: {{averagePrice | number}} {{defaultMoneyType?.code}} / {{defaultUnit}}
    </div>
    <div>
      Quantity: {{totalQty}} {{defaultUnit}}
    </div>
    <div>
      Cost: {{totalSum}} {{defaultMoneyType?.code}}
    </div>
    <div style='max-height: 350px; margin: 10px; overflow: auto'>
      {{entity ? entity.description : ''}}
    </div>
  </div>
</div>

<div class='row' *ngIf="graph.data[0].x.length > 1">
  <div class='col-12'>
    <plotly-plot [data]="graph.data" [layout]="graph.layout"
                 [style]="{minWidth: '800px', width: '100%', height: '500px'}">
    </plotly-plot>
  </div>
</div>

<div class='row'>
  <div class='col-12'>
  </div>
</div>


