
  <div class='row'>
    <div class='col-9 back-area jumbotron'>
      <div>
        <h2 style='margin: 10px'></h2>
        <h2>
           {{entity ? entity.name : 'Not loaded'}}
        </h2>
        <h6>
          <a href="{{parentLink}}">{{parent?.name}}</a>
        </h6>
      </div>
      <div>
        <ngb-rating [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 10" [class.bad]="index < 3">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
    </div>
    <div class="col-3">
      <div>
        Average Price: {{defaultPrice}} {{defaultMoneyType?.code}} / {{defaultUnit}}
      </div>
      <div>
        Quantity: {{totalQty}} {{defaultUnit}}
      </div>
      <div>
        Cost: {{totalSum}} {{defaultMoneyType?.code}}
      </div>
      <div style='max-height: 350px; margin: 10px; overflow: auto'>
        {{entity ? entity.description : ''}}
      </div>
    </div>
</div>

  <div class='row'>
    <div class='col-12'>
      <plotly-plot [data]="graph.data" [layout]="graph.layout"
                   [style]="{width: '100%', height: '500px'}">
      </plotly-plot>
    </div>
  </div>
